
<h2><%= t('.title') %></h2>

<%= link_to image_tag("dashboard/pack_1_note_check_purple.png") + t('.link.catalog_management'),
            admin_leelah_catalog_management_root_path, :class => "leelah_icon_text" %>
<%= link_to image_tag("dashboard/pack_1_note_check_purple.png") + t('.link.order_management'),
            admin_leelah_order_management_root_path, :class => "leelah_icon_text" %>
<%= link_to image_tag("dashboard/pack_1_view_invoice.png") + t('.link.general_configuration'),
            admin_leelah_general_configuration_root_path, :class => "leelah_icon_text" %>
