/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.leelah_table {
    width: 100%;
}

.leelah_button_delete {
    width: 20px;
    height: 20px;
    background: url("../assets/notjustagrid/icons/icon-delete.png");
}

.leelah_actions form, .leelah_actions div {
    display: inline;
}

.leelah_icon_text {
    text-align: center;
}

.leelah_icon_text img {
    display: block;
}