
<!-- MENU -->
<div class="quarter">
    <ul>
        <li><%= link_to t('.link.dash_board'),              admin_leelah_root_path %></li>
        <li><%= link_to t('.link.catalog_management'),      admin_leelah_catalog_management_root_path %></li>
        <li><%= link_to t('.link.order_management'),        admin_leelah_order_management_root_path %></li>
        <li><%= link_to t('.link.general_configuration'),   admin_leelah_general_configuration_root_path %></li>
    </ul>
</div>
<!-- END MENU -->