
<!-- SUB MENU -->
<div class="threequarter">
    <ul>
        <% for sub_menu, link in @sub_menus do %>
        <li><%= link_to t(sub_menu), link %></li>
        <% end %>
    </ul>
</div>
<!-- END SUB MENU -->