<!DOCTYPE html>
<html>
<head>
    <title>Leelah-System</title>
    <%= stylesheet_link_tag "bootstrap" %>
    <%= javascript_include_tag "jquery" %>
</head>
<body>

<div class="container">
    <%= yield %>
</div>

</body>
</html>
